## Uber Eats Restaurant Data

In [1]:
# Dependencies
import pandas as pd
import os 
import csv

#### Import CSV data

In [2]:
csvpath = os.path.join("Resources", "CSVs", "restaurants.csv")

In [3]:
restaurant_data = pd.read_csv(csvpath)

In [4]:
restaurant_data.head()

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [5]:
csvpath = os.path.join("Resources", "CSVs", "restaurant-menus.csv")

In [6]:
menu_data = pd.read_csv(csvpath)

In [7]:
menu_data.head()

,restaurant_id,category,name,description,price
0,1,Extra Large Pizza,Extra Large Meat Lovers,Whole pie.,15.99 USD
1,1,Extra Large Pizza,Extra Large Supreme,Whole pie.,15.99 USD
2,1,Extra Large Pizza,Extra Large Pepperoni,Whole pie.,14.99 USD
3,1,Extra Large Pizza,Extra Large BBQ Chicken &amp; Bacon,Whole Pie,15.99 USD
4,1,Extra Large Pizza,Extra Large 5 Cheese,Whole pie.,14.99 USD

#### Data Clean-up

In [8]:
# drop position columnn from restaurant_data
restaurant_df = restaurant_data.drop(['position'], axis=1)
restaurant_df
# drop rows with NaN values in score and rating (using code to keep rows that are not null)
restaurant_df = restaurant_df[restaurant_df['score'].notna()]
restaurant_df = restaurant_df[restaurant_df['ratings'].notna()]
restaurant_df
# drop rows with Nan values in price_range
restaurant_df = restaurant_df.dropna(subset = ['price_range'])
restaurant_df

,id,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
6,7,Jinsei Sushi,4.7,63.0,"Sushi, Asian, Japanese",$,"1830 29th Ave S, Birmingham, AL, 35209",35209,33.480440,-86.790440
13,14,Panera (521 Fieldstown Road),4.6,44.0,"Breakfast and Brunch, salad, Sandwich, Family ...",$,"521 Fieldstown Road, Gardendale, AL, 35071",35071,33.651407,-86.819247
15,16,Jeni's Splendid Ice Cream (Pepper Place),5.0,20.0,"Ice Cream &amp; Frozen Yogurt, Comfort Food, D...",$$$,"219 29th St S, Birmingham, AL, 35233",35233,33.516600,-86.789950
18,19,Falafel Cafe,4.9,48.0,"Middle Eastern, Mediterranean, Vegetarian, Gre...",$,"401 19th St S, Birmingham, AL, 35233",35233,33.508353,-86.803170
19,20,MrBeast Burger (838 Odum Road),3.7,19.0,"American, Burgers, Sandwich",$$,"838 Odum Road, Gardendale, AL, 35071",35071,33.645480,-86.826260
...,...,...,...,...,...,...,...,...,...,...
4951,4952,Toppers Pizza (Menomonee Falls),4.2,49.0,Pizza,$,"N88W15515 Main St., Menomonie Falls, WI, 53051",53051,43.178895,-88.102625
4957,4958,Jersey Mike’s Subs (149 North Mall Drive),4.9,38.0,"Sandwich, American",$,"149 North Mall Drive, Appleton, WI, 54913",54913,44.263142,-88.470413
4960,4961,Taco Bell (3221 East Express Court),4.3,78.0,"Burritos, Fast Food, Mexican",$,"3221 East Express Court, Appleton, WI, 54915",54915,44.258868,-88.359474
4961,4962,Subway (833 W Wisconsin Ave),4.9,10.0,"Fast Food, Sandwich, American",$,"833 W Wisconsin Ave, Appleton, WI, 54914",54914,44.272660,-88.418680
4966,4967,Subway (2151 Royal Ave),4.5,11.0,"Fast Food, Sandwich, American",$,"2151 Royal Ave, Monona, WI, 53713",53713,43.041971,-89.349742

In [12]:
# expand full_address column out to street, city, and state
restaurant_df[['street', 'city', 'state', 'zip']] = restaurant_df['full_address'].str.split(',', 3, expand=True)
restaurant_df
# delete zip column
del restaurant_df['zip']
restaurant_df
# reorder columns
restaurant_df = restaurant_df.reindex(columns=['id','name', 'score','ratings','category', 'price_range',
                                              'full_address', 'street', 'city', 'state', 'zip_code', 'lat', 'lng'])
restaurant_df

,id,name,score,ratings,category,price_range,full_address,street,city,state,zip_code,lat,lng
6,7,Jinsei Sushi,4.7,63.0,"Sushi, Asian, Japanese",$,"1830 29th Ave S, Birmingham, AL, 35209",1830 29th Ave S,Birmingham,AL,35209,33.480440,-86.790440
13,14,Panera (521 Fieldstown Road),4.6,44.0,"Breakfast and Brunch, salad, Sandwich, Family ...",$,"521 Fieldstown Road, Gardendale, AL, 35071",521 Fieldstown Road,Gardendale,AL,35071,33.651407,-86.819247
15,16,Jeni's Splendid Ice Cream (Pepper Place),5.0,20.0,"Ice Cream &amp; Frozen Yogurt, Comfort Food, D...",$$$,"219 29th St S, Birmingham, AL, 35233",219 29th St S,Birmingham,AL,35233,33.516600,-86.789950
18,19,Falafel Cafe,4.9,48.0,"Middle Eastern, Mediterranean, Vegetarian, Gre...",$,"401 19th St S, Birmingham, AL, 35233",401 19th St S,Birmingham,AL,35233,33.508353,-86.803170
19,20,MrBeast Burger (838 Odum Road),3.7,19.0,"American, Burgers, Sandwich",$$,"838 Odum Road, Gardendale, AL, 35071",838 Odum Road,Gardendale,AL,35071,33.645480,-86.826260
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,4952,Toppers Pizza (Menomonee Falls),4.2,49.0,Pizza,$,"N88W15515 Main St., Menomonie Falls, WI, 53051",N88W15515 Main St.,Menomonie Falls,WI,53051,43.178895,-88.102625
4957,4958,Jersey Mike’s Subs (149 North Mall Drive),4.9,38.0,"Sandwich, American",$,"149 North Mall Drive, Appleton, WI, 54913",149 North Mall Drive,Appleton,WI,54913,44.263142,-88.470413
4960,4961,Taco Bell (3221 East Express Court),4.3,78.0,"Burritos, Fast Food, Mexican",$,"3221 East Express Court, Appleton, WI, 54915",3221 East Express Court,Appleton,WI,54915,44.258868,-88.359474
4961,4962,Subway (833 W Wisconsin Ave),4.9,10.0,"Fast Food, Sandwich, American",$,"833 W Wisconsin Ave, Appleton, WI, 54914",833 W Wisconsin Ave,Appleton,WI,54914,44.272660,-88.418680
4966,4967,Subway (2151 Royal Ave),4.5,11.0,"Fast Food, Sandwich, American",$,"2151 Royal Ave, Monona, WI, 53713",2151 Royal Ave,Monona,WI,53713,43.041971,-89.349742